* {
    /* font-family: 'ArminGrotesk', 'ArminGroteskBlack', 'ArminGroteskSemiBold', sans-serif; */
    padding: 0;
    margin: 0;
}

:root {
    --color-type-gray: #4b4b4e;
    --color-type-purple: #381fd1;
    --color-type-blue: #10284b;
    --button-primary: #381fd1;
    --button-hover: #7e6de9;
    --body: #f6f6eb;
    --yellow: #fedb63;
}

body {
    background-color: var(--body);
}

body,
html {
    overflow-x: hidden !important;
    position: relative !important;
}

::selection {
    background-color: var(--color-type-purple);
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-type-blue);
    font-weight: 900;
}

h1 {
    font-size: 5.375rem;
    letter-spacing: -.02em;
    line-height: 96px;
}

h2 {
    font-size: 3rem;
    letter-spacing: -.01em;
    line-height: 53px;
}

h5 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 26px;
}

.nav_link {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

a {
    text-decoration: none;
    color: var(--color-type-blue);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-type-purple);
}

.button-p {
    border-radius: 5px;
    background-color: var(--button-primary);
    color: white;
    transition: all 0.4s ease;
    border: none;
    height: 45px;
}

.button-s {
    border-radius: 5px;
    transition: all 0.4s ease;
    color: var(--color-type-blue);
    border: 2px solid var(--color-type-blue);
    background-color: transparent;
    height: 45px;
}

.button-p:hover {
    background-color: var(--button-hover);
}

.button-s:hover {
    background-color: var(--color-type-blue);
    color: white;
}

.nav-row {
    display: flex;
}

.nav-mobile {
    display: none;
}

.ham {
    background-color: #edede0;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    flex: wrap;
    line-height: 2px;
    justify-content: center;
}

.ham span {
    background-color: var(--color-type-blue);
    width: 18px;
    height: 2px;
    display: block;
    position: absolute;
    border-radius: 128px;
    transition: all 0.4s ease;
}

.ham .f {
    margin-bottom: 12px;
}

.ham .l {
    margin-top: 12px;
}

.rotate-45 {
    margin: 0 !important;
    transform: rotate(45deg);
}

.rotate--45 {
    margin: 0 !important;
    transform: rotate(-45deg);
}

.menu {
    background-color: var(--body);
    border-top: 1px solid #e5e5e6;
    position: absolute;
    left: -100%;
    width: 100%;
    transition: all 0.3s cubic-bezier(.33, 1, .68, 1);
    display: none;
}

.open-menu {
    left: 0%;
}

.special {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .06em;
    color: var(--color-type-purple);
}

p {
    color: var(--color-type-gray);
    letter-spacing: .01em;
    line-height: 30px;
    font-size: 1.125rem;
    font-weight: 500;
}

.arrow-1 {
    background-image: url("../images/arrow.svg");
    width: 139px;
    height: 176px;
    background-position: center;
    background-size: 139px 176px;
    background-repeat: no-repeat;
    left: 16px;
}

.home-page-img {
    right: -50px;
    top: 80px;
    width: 690px;
    z-index: -1;
}

.circle {
    background-image: url("../images/circle-1.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.slider {
    border: 3px solid var(--color-type-blue);
    width: 700px;
    margin-left: 50% auto !important;
}

.slider button {
    background-color: transparent;
    color: #4b4b4e;
    font-weight: 700;
    border: 2px solid #f6f6eb !important;
}

.slider button:focus,
.sel {
    background-color: var(--color-type-blue) !important;
    color: white !important;
}

mark.red {
    display: block;
    width: fit-content;
    height: 76px;
    background-image: url("../images/skew-1.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-type-blue);
}

mark.yellow {
    display: block;
    width: fit-content;
    height: 63px;
    background-image: url("../images/skew-2.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-type-blue);
}

.skew-blue {
    background-image: url("../images/skew-3.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.footer-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 30px;
}

.footer-link {
    color: var(--color-type-gray);
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--color-type-gray);
}

.fit-content {
    width: fit-content !important;
}

@media (max-width: 1150px) {
    .home-page-img {
        right: -150px
    }
}

@media (max-width: 992px) {
    .footer-row {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 840px) {
    .nav-row {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

    .menu {
        display: block;
    }
}

@media (max-width: 748px) {
    .slider {
        width: 80%;
    }

    .slider button span {
        display: none;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
        line-height: 54px;
    }

    h2 {
        font-size: 2rem;
        line-height: 35px;
    }

    h5 {
        font-size: 1.5rem;
    }

    .footer-row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 460px) {
    .footer-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 300px) {
    .footer-row {
        grid-template-columns: repeat(1, 1fr);
    }
}